.mentions {
    margin: 1em 0;
    width: 100%;
    color: black;
    outline: none;
    border: 3px solid silver;
    border-radius: 1rem;
  }
  
  .mentions--singleLine .mentions__control {
    display: inline-block;
    width: 130px;
  }
  .mentions--singleLine .mentions__highlighter {
    padding: 1px;
    border: 2px inset transparent;
  }
  .mentions--singleLine .mentions__input {
    padding: 1px;
    outline: none;
  }
  
  .mentions--multiLine .mentions__control {
    font-family: monospace;
    font-size: 14pt;
  }
  .mentions--multiLine .mentions__highlighter {
    border: 1px solid transparent;
    padding: 9px;
    min-height: 63px;
  }
  .mentions--multiLine .mentions__input {
    padding: 9px;
    /* border: 1px solid silver;
    padding: 9px;
    outline: 0; */
    outline: none;
    border: none;
  }  
  
  .mentions__suggestions__list {
   
    font-size: 10pt;
  }
  
  /* .mentions__suggestions__item {
    padding: 5px 15px;
  } */
  
  .mentions__suggestions__item--focused {
    background-color: #ddd;
  }
  
  .mentions__mention {
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
    color: blue;
    /* text-shadow: 1px 1px 1px white, 1px -1px 1px white, -1px 1px 1px white,
      -1px -1px 1px white; */
    text-decoration: underline;
    pointer-events: none;
  }