@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Signika:wght@300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Varela Round", sans-serif;
}

@layer utilities {
  .calenderSection {
    @apply p-1.5 px-2 cursor-pointer hover:bg-gray-100 hover:text-teal-500 duration-200 rounded-lg font-bold;
  }

  .arrowSymbol {
    @apply w-7 h-8 hover:bg-gray-100 hover:text-teal-500 duration-300 cursor-pointer flex items-center justify-center rounded-md;
  }
}

/* =====chat ======= */
.chat-height {
  min-height: calc(100vh - 80px);
  height: 100%;
}
.input-style {
  overflow-wrap: break-word;
}
.user-box {
  transition: transform 300ms ease-in-out 0s;
}
.msg-icons {
  opacity: 0;
}
.user-box:hover .msg-icons {
  opacity: 1;
}
.tooltip-box {
  position: relative;
}
.tooltip-box .tooltip-text {
  position: absolute;
  left: 50%;
  top: -40px;
  transform: translateX(-50%);
  padding: 4px 8px;
  font-size: 10px;
  color: #ede9e9;
  background: #464f52;
  border-radius: 5px;
  white-space: nowrap;
  max-width: none;
  opacity: 0;
  transition: transform 300ms ease-in-out 0s;
}
.tooltip-box .tooltip-text::before {
  content: "";
  position: absolute;
  width: 0.6rem;
  height: 0.6rem;
  background-color: #464f52;
  bottom: -3px;
  left: 50%;
  transform: translateX(-50%) rotate(45deg);
  border-radius: 1px;
}
.tooltip-box:hover .tooltip-text {
  opacity: 1;
}
.attach-box {
  position: absolute;
  left: 50%;
  top: -135px;
  transform: translateX(-50%);
  background: #ffffff;
  padding: 15px;
  box-shadow: 1px 1px 8px rgb(172, 172, 172);
  white-space: nowrap;
  max-width: none;
  border-radius: 5px;
  z-index: 100;
}
.attach-box::before {
  content: "";
  position: absolute;
  width: 0.6rem;
  height: 0.6rem;
  background-color: #ffffff;
  bottom: -4px;
  left: 50%;
  transform: translateX(-50%) rotate(45deg);
  border-radius: 1px;
  box-shadow: 1px 1px 1px rgb(172, 172, 172);
}
/* =====chat end ======= */

/* =====timeline===== */

.custom_radio input[type="radio"] {
  display: none;
}
.custom_radio input[type="radio"] + label {
  position: relative;
  display: inline-block;
  padding-left: 2em;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.custom_radio input[type="radio"] + label:before,
.custom_radio input[type="radio"] + label:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 1.2em;
  height: 1.2em;
  text-align: center;
  color: rgb(233, 21, 21);
  font-family: Times;
  border-radius: 50%;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.custom_radio input[type="radio"] + label:before {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  box-shadow: inset 0 0 0 0.2em rgb(188, 187, 187),
    inset 0 0 0 1em rgb(255, 254, 254);
}

.custom_radio input[type="radio"]:checked + label:before {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  box-shadow: inset 0 0 0 0.2em rgb(214, 213, 213), inset 0 0 0 1em #b9e7ec;
}

.styled-checkbox {
  position: absolute;
  opacity: 0;
}
.styled-checkbox + label {
  position: relative;
  cursor: pointer;
  /* padding: 0; */
  color: rgb(148 163 184);
}
.styled-checkbox + label:before {
  content: "";
  margin-right: 15px;
  display: inline-block;
  vertical-align: text-top;
  width: 17px;
  height: 17px;
  background: white;
  border-radius: 3px;
  border: 2px solid rgb(148 163 184);
}

.styled-checkbox:checked + label:before {
  background: rgb(20 184 166);
  border: 2px solid rgb(20 184 166);
}

.styled-checkbox:checked + label:after {
  content: "";
  position: absolute;
  left: 3px;
  top: 7px;
  background: white;
  width: 2px;
  height: 2px;
  box-shadow: 2px 0 0 white, 4px 0 0 white, 4px -2px 0 white, 4px -4px 0 white,
    4px -6px 0 white, 4px -8px 0 white;
  transform: rotate(45deg);
}

.dateDayItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  margin: 0 0 0 5px;
  width: 150px;
  height: 49px;
  flex-shrink: 0;
}
.dateDayItemMarked {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  margin: 0 0 0 5px;
  width: 150px;
  height: 70px;
  flex-shrink: 0;
}

/* .timebox-color {
  background: rgb(156 163 175);
} */
.timebox-color :nth-child(odd) {
  background: rgb(154, 179, 227) !important;
}
/* =====timeline===== */
